@charset "utf-8";
/* CSS Document */

*                                       { margin:0; padding:0;}
body					{ font: 16px Georgia, "Times New Roman", Times, serif;}

#page2					{ margin:1% auto; color:#000;}
#page2 > .main2                         { border:1px solid #999; padding:1%; margin-bottom:1px;}

header2, nav2, section                    { background: rgba(0,0,0,0.3); }
section2, #titulo2, h1                    {text-align:center; color:#FFF;}

#imagen2				{
                        display:block;

                        bottom:1px; 
                        margin:.1%;
                        width:80%;
                        height:80%;
                        padding:1px;

                            }

footer						{background: #eee; text-align:center; bottom:0px; }

nav2, ul2                                         {margin:0%; padding:1%;}
li2                                              {display:inline;  
                                color:aqua;
                                font-family: verdana;
                                font-size: 100%;
                            } 
p2{
  border: silver 10px solid;
  border-image-source: url("borders1.png");
  border-image-slice: 21;
  border-image-width: 20px 40px;

  padding: 10px;
  text-align: justify;
}
                                                




