@charset "utf-8";
/* CSS Document */

*                                       { margin:0; padding:0;}
body					{ font: 16px Georgia, "Times New Roman", Times, serif;}

#page					{ margin:1% auto; color:#000;}
#page > .main                           { border:1px solid #999; padding:1%; margin-bottom:1px;}

header, nav, section                    { background: rgba(0,0,0,0.3); }
section, #titulo, h1                         {text-align:center; color:#FFF;}

img#imagen				{
							display:block;
							margin:auto;
							width:90%;
							max-height:80px;
							padding:0.2%;
							
						}

#imagen1,#imagen2,#imagen3,#imagen4,#imagen5,#imagen6,#imagen7,#imagen8,#imagen9,#imagen10,#imagen11{							
							position:absolute;
							margin:0 auto;
							width:89%;
							height:405px;
							padding:1%;			
							visibility:hidden;				
							top:35%;
							left:0%;
							
							}
						
footer						{background: #eee; text-align:center; bottom:0px; }
				
nav, ul                                         {margin:0%; padding:1%;}
li                                              {display:inline;  
                                                    color:aqua;
                                                    font-family: verdana;
                                                    font-size: 100%;
                                                } 
                                                




